.button{
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    //color: $SECONDARY-200;
    //letter-spacing: .5px;

    &:disabled, &[disabled]{
        opacity: .5;
        pointer-events: none;
    }

    &:is(.primary){
        padding: $P-1 $P-6;
        background-color: $PRIMARY-400;
        color: $NEUTRAL-50;
        font-weight: 700;
        transition: 200ms all ease-in-out;
        border: 1px solid $PRIMARY-400;

        &:hover{
            background-color: $NEUTRAL-50;
            color: $PRIMARY-400;
        }
    }

    &.icon{
        //padding: $P-2 $P-3;
        //border-radius: .5rem;
        //background-color: $SECONDARY-800;
        //font-size: 13px;
        //font-weight: 600;
        gap: .813rem;
        transition: 100ms color ease-in-out;
        
        &:hover{
            color: $PRIMARY-400;
        }

    }

    &:is(.tertiary){
    }

    &:is(.underline){

        &:hover{
            text-decoration: underline;
        }
    }

    &.sm{
        font-size: 12px;
    }

    &.md{
        font-size: 14px;
    }

    &.lg{
        font-size: 16px;
    }
}