.topBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: $M-5;
    gap: 3.438rem;

    h1{
        text-transform: uppercase;
    }
}