.button{
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    &:disabled, &[disabled]{
        opacity: .5;
        pointer-events: none;
    }

    &:is(.primary){
        padding: $P-0 $P-6;
        background-color: $PRIMARY-400;
        color: $NEUTRAL-50;
        font-weight: 700;
        transition: 200ms all ease-in-out;
        border: 1px solid $PRIMARY-400;
        justify-content: center;
        line-height: 1.75;

        &:hover{
            background-color: $NEUTRAL-50;
            color: $PRIMARY-400;
        }

        @media only screen and (max-width: $md){
            padding: $P-0 $P-5;
        }
    }

    &.icon{
        gap: .813rem;
        transition: 100ms color ease-in-out;
        
        @media only screen and (max-width: $md){
            font-size: 14px !important;
            min-width: 10rem;
        }

        &:hover{
            color: $PRIMARY-400;
        }

    }

    &:is(.underline){

        &:hover{
            text-decoration: underline;
        }
    }

    &.sm{
        font-size: 12px;
    }

    &.md{
        font-size: 14px;
    }

    &.lg{
        font-size: 16px;
    }
}