.stickyHeaderContainer{
    background-color: $NEUTRAL-100;
    position: sticky;
    top: 0;
    z-index: 500;

    .stickyHeader{
        padding-inline: 78px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3.25rem;
    

        @media only screen and (max-width: $md){
            padding-inline: $P-2;
        }

        .toggleButton{

            label{
                display: flex;
                align-items: center;
                gap: .625rem;
                user-select: none;
            

            input{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                border: 1px solid $NEUTRAL-300;
                position: relative;
            }

            input[type="checkbox"]:checked{
                background-color: $PRIMARY-400;
            }

            input[type="checkbox"]:checked:after {
                content: '\2713'; 
                color: #fff;
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); 
            }
        }

        }
    
        .datesList{
            h4{
                margin-top: $M-2;
            }
        }

        .title{
            margin-bottom: $M-0;
        }
    }
}