.eventCard{
    --column: 2fr 2fr 1fr;
    border: 1px solid $NEUTRAL-300;
    display: grid;
    grid-template-columns: var(--column);
    gap: 16px;
    min-height: 200px;
    cursor: default;

    @media only screen and (max-width: $md){
        --column: 1fr;
        padding-bottom: $P-2;
    }
    
    &:hover{
        transition: 200ms box-shadow ease-in-out;
        box-shadow: $EVENT-CARD-BOX-SHADOW;

        .title{
            transition: 200ms color ease-in-out;
            color: $ORANGE-900;
        }
    }
}