.actionBtns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    @media only screen and (max-width: $md){
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}